@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    <style>
        h1 {
            font-family: "Sofia";
            font-size: 80px;
            color: burlywood;
        }

        body {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-image: url("https://img4.goodfon.com/wallpaper/nbig/2/d8/abstraktsiia-geometriia-oboi-white-green-blue-squares-abstra.jpg")
        }

        .content {
            height: 200%;
            width: 300px;
            box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
        }

            .content .images {
                height: 200%;
                width: 200%;
            }

        .images img {
            height: 600px;
            width: 170%;
        }
    </style>
</head>
<body>
    <br /><br />
    <h1>Welcome to The Training System</h1><br />
    <div class="content">
        <div class="images">
            <img src="https://scholarship-positions.com/wp-content/uploads/2019/12/Care-Leaver-Bursary-at-the-University-of-Greenwich-in-UK-1024x576.jpg" alt="first">
            <img src="https://wallpaperaccess.com/full/4688687.jpg" alt="two">
            <img src="https://employeebenefits.co.uk/content/uploads/2020/01/shutterstock_742274224.jpg" alt="three">
            <!--<img src="#">
            <img src="#"> -->
        </div>
    </div>
    <script>
        var indexValue = 0;
        function slideShow() {
            setTimeout(slideShow, 3000);
            var x;
            const img = document.querySelectorAll("img");
            for (x = 0; x < img.length; x++) {
                img[x].style.display = "none";
            }
            indexValue++;
            if (indexValue > img.length) { indexValue = 1 }
            img[indexValue - 1].style.display = "block";
        }
        slideShow();
    </script>

    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            <!--chỉ định nội dung admin có thể thấy-->
            if (User.IsInRole(AppDev.Utils.Roles.Admin))
            {
                <div class="col-md-4">
                    <h2>Admin</h2>
                    <p>
                        @Html.ActionLink("Show Trainer and Training Staff", "Index", "Admin", null, new { @class = "btn btn-primary" })
                    </p>
                </div>
            }

            <!--chỉ định nội dung Trainer có thể thấy-->
            if (User.IsInRole(AppDev.Utils.Roles.Trainner))
            {
                <div class="col-md-4">
                    <h2>Trainer</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                        obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                        nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                        tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                        quia.
                    </p>
                </div>
            }

            <!--chỉ định nội dung Traning Staff có thể thấy-->
            if (User.IsInRole(AppDev.Utils.Roles.TrainingStaff))
            {
                <div class="col-md-4">
                    <h2>Training Staff</h2>
                    <p>
                        @Html.ActionLink("Manage Trainee and Course Category", "Index", "TrainningStaff", null, new { @class = "btn btn-primary" })
                    </p>
                </div>
            }

            if (User.IsInRole(AppDev.Utils.Roles.Trainee))
            {
                <div class="col-md-4">
                    <h2>Trainee</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                        obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                        nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                        tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                        quia.
                    </p>
                </div>
            }

        }
    </div>
</body>