@model AppDev.Models.TrainningStaff
@{
    ViewBag.Title = "StaffDetails";
}

<h2>See Staff Information Details</h2>
<div class="form-group">
    <!--new{} Tạo css hoặc tạo một chuỗi kết nối -->
    @Html.ActionLink("Back to Index", "IndexForStaff", null, new { @class = "btn btn-primary" })
</div>
<!--Using bootstrap to decorate-->
<div class="panel panel-default">
    <div class="panel-heading"><b style="color:orange">Full Name: @Model.FullName</b></div>
    <div class="panel-body">
        <p><b>Age:</b> @Model.Age</p>
        <p><b>Address:</b> @Model.Address</p>
    </div>
</div>
